[core]
    excludesfile = ~/.gitignore
    editor = vim

[include]
    path = ~/.gitconfig.local

[alias]
    co = checkout
    ci = commit -v
    st = status
    up = pull --rebase origin master
    di = diff --color
    dc = diff --cached --color
    tree = log --graph --pretty=format:'%C(yellow)%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(red)%d%Creset' --abbrev-commit --date=relative
    tree2 = log --graph --all --branches --date=short --decorate --pretty=format:'%C(yellow)%h %Cgreen%ad %Cblue%cn %Creset%s %C(reverse)%C(auto)%D'
    topic = checkout origin/master -b
    current-branch = describe --all --contains HEAD

[color]
    ui = true
[user]
	  name = HORII Keima
	  email = holysugar@gmail.com
[push]
	  default = simple

[ghq]
    root = ~/src
